.new-user{
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px 0px 5px 0px;
}
  
.new-user h1 {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 10px;
}   

.form-control label {
    margin-bottom: 0.5rem;
    font-size: 18px;
}

.form-control input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

.info{  
    display: flex;
}

.size-00{
    width: 210px;
}

.size-01{
    width: 160px;
}

.size-02{   
    width: 170px;
}

.size-03{
    width: 420px;
}

.size-04{   
    width: 490px;
}

.size-05{   
    width: 100px;
}

.size-06{   
    width: 185px;
}

.input{
    width: inherit ;
}

.error-message{
    color: #d33;
    font-size: 17px;
    margin-top: 5px;
}