.user h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.user {
    background-color: #212121;
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
}

.user h2,
.user p {
    margin-bottom: 1rem;
}

.user h2::first-letter {
    text-transform: uppercase;
}

.btn {
    background-color: #b3b3b3;
    color: #000000;
    border: 1px solid #b3b3b3;
    opacity: 1;
    padding: .5rem 1rem;
    border-radius: 1rem;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px auto;
    display: block;
}

.btn:hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid #fff;
}