.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 2.5rem;
    background-color: #f5f5f5;
}

.navbar h1 a{
    font-size: 50px;
}

.navbar ul{
    display: flex;
    gap: 2rem;
    font-size: 20px;
}