* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans Condensed";
  }
  
  body{
    background: #fff;
    color: #000;
  }
  
  ul{
    list-style: none;   
  }
  
  a{
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  a:hover{
    opacity: 1;
  }
  
  p{
    color: #000
  }